@font-face {
    font-family: "figtree";
    src:
        url("Figtree-Regular.woff2") format("woff2"),
        url("Figtree-Regular.woff") format("woff");
        url("Figtree-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "figtree";
    src:
        url("Figtree-Medium.woff2") format("woff2");
        url("Figtree-Medium.woff") format("woff");
        url("Figtree-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "figtree";
    src:
        url("Figtree-SemiBold.woff2") format("woff2"),
        url("Figtree-SemiBold.woff") format("woff");
        url("Figtree-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "figtree";
    src:
        url("Figtree-Bold.woff2") format("woff2");
        url("Figtree-Bold.woff") format("woff");
        url("Figtree-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}